:root {
    --mainBG: hsl(233, 47%, 7%);
    --cardBG: hsl(244, 38%, 16%);
    --violetAccent: hsl(277, 64%, 61%);
    --violetOverlay: hsla(277, 64%, 61%, 0.5);

    --white: hsl(0, 0%, 100%);
    --whiteParagraph: hsla(0, 0%, 100%, 0.75);
    --whiteStat: hsla(0, 0%, 100%, 0.6);

    font-size: 15px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
}


body {
    background: var(--mainBG);
    font-family: 'Lexend Deca', sans-serif;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}


h1 {
    font-family: 'Inter',
        sans-serif;
    font-size: 1.8em;
    text-align: center;
}

.accent {
    color: var(--violetAccent);
}

p,
.category {
    color: var(--whiteParagraph);
    text-align: center;
}

p {
    font-size: 1em;
    line-height: 1.6em;
}

.value {
    font-family: 'Inter', sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
}

.category {
    text-transform: uppercase;
    font-size: 1.2em;
}


.main-div {
    background: url(images/image-header-mobile.jpg) no-repeat top center, var(--cardBG);
    background-size: 100%;
    width: 330px;
    border-radius: 20px;
    position: relative;
}

.main-div::before {
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    right: 0%;
    background: var(--violetOverlay);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
}

.wrapper-container {
    padding-top: 250px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-container {
    display: flex;
    flex-direction: column;
}

.stat {
    padding-top: 32px;
}

.attribution {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1024px) {
    .main-div {
        width: 1250px;
        background: url(images/image-header-desktop.jpg) no-repeat right center, var(--cardBG);
        background-size: 50%;
        position: relative;
    }

    .wrapper-container {
        padding-top: 50px;
        padding-bottom: 68px;
        padding-left: 80px;
        padding-right: 690px;
        align-items: flex-start;
    }

    h1,
    p,
    .value,
    .category {
        text-align: left;
    }

    h1 {
        font-size: 2.6em;
    }

    p {
        margin-top: 10px;
        font-size: 1em;
        padding-right: 80px;
    }

    .value {
        font-size: 1.8em;
    }

    .category {
        font-size: 1em;
        padding-top: 14px;
    }

    .stats-container {
        flex-direction: row;
    }

    .stat {
        padding-top: 70px;
        padding-right: 70px;
    }
}